@charset "UTF-8";
.clearfix::before, .clearfix::after {
  display: table;
  content: ' ';
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.clearfix::after {
  clear: both; }

/*---------------------------------------------------
# responsive Typografie
-----------------------------------------------------*/
/*---------------------------------------------------
# Height Width gleiche Größe
-----------------------------------------------------*/
/*---------------------------------------------------
# Icon für Mobile Navigation
-----------------------------------------------------*/
/*---------------------------------------------------
# Animation Icon für Mobile Navigation
-----------------------------------------------------*/
/*---------------------------------------------------
# Animation sticky
-----------------------------------------------------*/
@-webkit-keyframes sticky {
  0% {
    max-height: 0; }
  100% {
    max-height: 50rem; } }
@keyframes sticky {
  0% {
    max-height: 0; }
  100% {
    max-height: 50rem; } }

/*---------------------------------------------------
# Icon für Kacheln
-----------------------------------------------------*/
/*---------------------------------------------------
# Cat Border Blog
-----------------------------------------------------*/
.spieler-animals-drawer {
  text-align: center;
  background: #EEEEEE; }
  .spieler-animals-drawer a,
  .spieler-animals-drawer span {
    margin-top: 0.5rem;
    display: block; }
  .spieler-animals-drawer a {
    font-size: 16px; }

.content-head {
  padding-bottom: 0; }

.content-box {
  padding-top: 0; }

.box-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25rem; }

.box-image,
.box-item {
  width: 100%;
  height: auto; }

.box-content-drawer,
a.box-content-drawer {
  margin: 1.875rem 0;
  position: relative;
  overflow: hidden;
  color: #fff;
  display: block;
  height: 560px; }
  @media print, screen and (min-width: 48em) {
    .box-content-drawer,
    a.box-content-drawer {
      height: 600px; } }
  @media screen and (min-width: 64em) {
    .box-content-drawer,
    a.box-content-drawer {
      height: 560px; } }
  @media screen and (min-width: 90em) {
    .box-content-drawer,
    a.box-content-drawer {
      height: 580px; } }

.box-drawer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: 0.40s ease;
  transition: 0.40s ease;
  z-index: 1;
  background: #EEEEEE;
  color: #b20202;
  border-top: 12px solid #b20202;
  text-align: center;
  padding: 1rem; }
  .box-content-drawer:focus .box-drawer,
  .box-content-drawer:hover .box-drawer {
    bottom: 0; }
    .box-content-drawer:focus .box-drawer .box-handle,
    .box-content-drawer:hover .box-drawer .box-handle {
      display: none; }
  .box-drawer h3 {
    font-size: calc(20px (46 - 20) * ((100vw - 320px) / (640 - 320)));
    margin-bottom: 0.9375rem; }
  .box-drawer ul {
    margin-bottom: 0;
    font-size: calc(16px (21 - 16) * ((100vw - 320px) / (640 - 320))); }
  .box-drawer .contentdrawer {
    margin: 0 0 1rem; }

.box-text {
  position: relative;
  z-index: 3; }

.box-handle {
  position: absolute;
  bottom: 0;
  width: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(40%);
      -ms-transform: translateX(-50%) translateY(40%);
          transform: translateX(-50%) translateY(40%);
  -webkit-transition: top 0.15s;
  transition: top 0.15s;
  text-align: center;
  background: #EEEEEE;
  color: #b20202;
  padding: 4rem 0 0;
  z-index: 2;
  font-weight: 400; }
  .box-handle .symbol {
    fill: #b20202;
    width: 1.875rem;
    height: 2rem; }

@media print, screen and (min-width: 40em) {
  .box-items {
    grid-template-columns: 1fr 1fr; }
  .box-drawer h3 {
    font-size: calc(21px (28 - 21) * ((100vw - 640px) / (768 - 640))); }
  .box-drawer ul {
    font-size: calc(14px (16 - 14) * ((100vw - 640px) / (768 - 640))); } }

@media (max-width: 959px) {
  .start .wp-block-columns {
    display: block;
    width: 100%; }
  .start .wp-block-column {
    margin-left: 0; } }

@media (min-width: 959px) {
  .box-items {
    grid-template-columns: 1fr 1fr 1fr; }
  .box-drawer h3 {
    font-size: calc(21px (28 - 21) * ((100vw - 640px) / (768 - 640))); }
  .box-drawer ul {
    font-size: calc(14px (16 - 14) * ((100vw - 640px) / (768 - 640))); } }

@media screen and (min-width: 90em) {
  .box-items {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .box-drawer h3 {
    font-size: calc(21px (28 - 21) * ((100vw - 1024px) / (1280 - 1024))); }
  .box-drawer ul {
    font-size: calc(15px (18 - 15) * ((100vw - 1024px) / (1280 - 1024))); } }

@media screen and (min-width: 90em) {
  .box-drawer h3 {
    font-size: 32px; }
  .box-drawer ul {
    font-size: 18px; } }

.box {
  width: 100%;
  display: inline-block;
  border: 1px solid #e9e9e9;
  margin-bottom: 1rem;
  padding: 0;
  color: #000; }
  .box a {
    display: inline-block; }
  .box .content {
    padding: 1rem; }
    .box .content #social {
      min-width: 100%;
      display: inline-block;
      list-style: none !important;
      margin: 0; }
      .box .content #social span {
        display: none; }
      .box .content #social li {
        padding-right: 1rem;
        float: left; }
      .box .content #social li:last-child {
        float: none; }
      .box .content #social .symbol {
        height: 75px;
        width: 75px; }
  .box h4 {
    font-size: 1.2rem; }
  .box iframe {
    width: 100%;
    min-height: 230px; }
  .box .content-blog ul {
    margin: 0; }
    .box .content-blog ul li {
      display: block;
      list-style-type: none;
      border-bottom: 1px solid #b20202; }
      .box .content-blog ul li a {
        width: 100%;
        display: block;
        text-decoration: none;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2px;
        color: #000; }
        .box .content-blog ul li a h4 {
          display: block;
          margin-top: 2px; }
        .box .content-blog ul li a p {
          font-size: 16px;
          font-weight: bold;
          margin: 0; }
        .box .content-blog ul li a span {
          display: block;
          color: #000; }
        .box .content-blog ul li a:focus, .box .content-blog ul li a:hover {
          background: #099;
          color: #fff;
          border-left: 5px solid #b20202; }
          .box .content-blog ul li a:focus h4,
          .box .content-blog ul li a:focus span, .box .content-blog ul li a:hover h4,
          .box .content-blog ul li a:hover span {
            color: #fff; }
  @media screen and (min-width: 63.9375em) {
    .box .content-blog a {
      width: 100%;
      text-decoration: none;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0;
      color: #000; }
      .box .content-blog a h4 {
        font-size: 16px;
        margin-top: 2px;
        margin-bottom: 0; }
      .box .content-blog a span {
        font-weight: bold;
        font-size: 15px;
        color: #000; }
      .box .content-blog a:focus, .box .content-blog a:hover {
        background: #099;
        color: #fff;
        border-left: 5px solid #b20202; }
        .box .content-blog a:focus h4,
        .box .content-blog a:focus span, .box .content-blog a:hover h4,
        .box .content-blog a:hover span {
          color: #fff; } }
  @media screen and (min-width: 83.4375em) {
    .box .content-blog a {
      width: 100%;
      display: inline-block;
      text-decoration: none;
      padding-top: 0.2rem;
      color: #000; }
      .box .content-blog a h4 {
        margin-top: 2px;
        font-size: 22px; }
      .box .content-blog a span {
        font-size: 23px;
        color: #000; }
      .box .content-blog a:focus, .box .content-blog a:hover {
        background: #099;
        color: #fff;
        border-left: 5px solid #b20202; }
        .box .content-blog a:focus h4,
        .box .content-blog a:focus span, .box .content-blog a:hover h4,
        .box .content-blog a:hover span {
          color: #fff; } }

.blog-link,
.event-link {
  display: block; }

.tribe-block__events-link .tribe-block__btn--link img {
  width: 50px; }

.bundesliga {
  border-bottom: 1px #EEEEEE solid;
  padding-bottom: 1rem;
  margin-bottom: 2rem; }
  .bundesliga .box-event-item {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem; }
    .bundesliga .box-event-item .content-event {
      border: 1px solid #EEEEEE;
      padding: 0.5rem; }
    .bundesliga .box-event-item a {
      text-decoration: none; }
      .bundesliga .box-event-item a:focus .content-event, .bundesliga .box-event-item a:hover .content-event {
        background: #365199;
        border: 1px solid #365199;
        color: #fff; }
        .bundesliga .box-event-item a:focus .content-event h3, .bundesliga .box-event-item a:hover .content-event h3 {
          color: #fff; }
    @media print, screen and (min-width: 40em) {
      .bundesliga .box-event-item {
        width: 50%; } }
    @media screen and (min-width: 64em) {
      .bundesliga .box-event-item {
        width: 33.33%; } }

.single-event {
  display: inline-block;
  width: 100%; }
  @media screen and (min-width: 64em) {
    .single-event .left-event {
      float: left;
      width: 50%; }
    .single-event .right-event {
      margin-top: 1rem;
      float: left;
      width: 50%; } }

.box-events {
  margin-top: 4rem; }
  .box-events h2 {
    margin-left: 1rem; }

.box-event {
  margin: 0;
  width: 100%;
  list-style: none;
  border-top: 3px solid #365199;
  display: inline-block; }
  .box-event .box-event-item {
    width: 100%;
    display: inline-block;
    border-bottom: 3px solid #365199;
    padding-bottom: 1rem;
    margin-top: 1.5rem; }
  @media screen and (min-width: 64em) {
    .box-event .box-event-left {
      display: inline-block;
      width: 40%;
      padding-right: 1rem; }
    .box-event .box-event-right {
      display: inline-block;
      width: 60%; } }

.box-start .box-tiles a {
  display: block;
  padding: 1rem;
  background: #fff; }

/*# sourceMappingURL=block.css.map */
